# Terraform state and secrets
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfvars

# Crash logs
crash.log

# SSH keys
*.pem
*.pub

# OS files
.DS_Store